In [17]:
#loading the data
import pandas_datareader as pdr
import pandas as pd
import datetime 
aapl=pdr.get_data_yahoo('AAPL',start=datetime.datetime(2006,10,1),end=datetime.datetime(2012,1,1))

In [21]:
#checking the first rows of data
aapl.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2006-10-02  10.728572  10.838572  10.614285  10.694285   9.586717  178159800
2006-10-03  10.635715  10.707143  10.455714  10.582857   9.486828  197677200
2006-10-04  10.585714  10.780000  10.451428  10.768572   9.653308  207270700
2006-10-05  10.647142  10.880000  10.590000  10.690000   9.582876  170970800
2006-10-06  10.631429  10.720000  10.544286  10.602858   9.504756  116739700

In [19]:
#checking the lst rows
aapl.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2011-12-23  57.098572  57.655716  57.070000  57.618572  51.651207  67349800
2011-12-27  57.585712  58.441429  57.574287  58.075714  52.061012  66269000
2011-12-28  58.127144  58.321430  57.334286  57.520000  51.562847  57165500
2011-12-29  57.628571  57.950001  57.215714  57.874287  51.880451  53994500
2011-12-30  57.644287  58.040001  57.641430  57.857143  51.865078  44915500

In [20]:
#Oh! man do i love describe()
aapl.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1.323000e+03
mean,28.901012,29.237566,28.507684,28.889151,25.897202,1.882896e+08
std,14.123131,14.199012,14.029758,14.119734,12.657402,1.027007e+08
min,10.488571,10.568571,10.371428,10.461429,9.377975,3.937360e+07
25%,17.457857,17.752857,17.182143,17.431429,15.626117,1.122037e+08
50%,25.260000,25.642857,24.725714,25.120001,22.518414,1.629866e+08
75%,38.777144,39.132858,38.351429,38.699999,34.691970,2.316230e+08
max,60.251427,60.957142,59.427143,60.320000,54.072868,8.432424e+08

#### Converting data to csv

In [27]:
aapl.to_csv('data/aapl_ohlc.csv')
df=pd.read_csv('data/aapl_ohlc.csv',header=0,index_col='Date',parse_dates=True)

In [31]:
aapl.index

DatetimeIndex(['2006-10-02', '2006-10-03', '2006-10-04', '2006-10-05',
               '2006-10-06', '2006-10-09', '2006-10-10', '2006-10-11',
               '2006-10-12', '2006-10-13',
               ...
               '2011-12-16', '2011-12-19', '2011-12-20', '2011-12-21',
               '2011-12-22', '2011-12-23', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', name='Date', length=1323, freq=None)

In [32]:
aapl.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [34]:
ts=aapl['Close'][-10:]

In [35]:
type(ts)

pandas.core.series.Series